common/component_templates/tanks_battleship.txt
common/component_templates/tanks_cruiser.txt
common/component_templates/tanks_destroyer.txt
common/component_templates/tanks_dreadnought.txt
common/component_templates/tanks_heavydread.txt
